//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.02
//Part Number: GW5AT-LV138PG484AC2/I1
//Device: GW5AT-138
//Device Version: B
//Created Time: Sat 05 11 20:57:14 2024

IO_LOC "vga_rgb[15]" F16;
IO_PORT "vga_rgb[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[14]" F15;
IO_PORT "vga_rgb[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[13]" E17;
IO_PORT "vga_rgb[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[12]" F18;
IO_PORT "vga_rgb[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[11]" F19;
IO_PORT "vga_rgb[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[10]" E18;
IO_PORT "vga_rgb[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[9]" F20;
IO_PORT "vga_rgb[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[8]" E21;
IO_PORT "vga_rgb[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[7]" G21;
IO_PORT "vga_rgb[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[6]" D21;
IO_PORT "vga_rgb[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[5]" G22;
IO_PORT "vga_rgb[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[4]" F21;
IO_PORT "vga_rgb[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[3]" E19;
IO_PORT "vga_rgb[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[2]" E22;
IO_PORT "vga_rgb[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[1]" D19;
IO_PORT "vga_rgb[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_rgb[0]" D22;
IO_PORT "vga_rgb[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_vs" E14;
IO_PORT "vga_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vga_hs" C17;
IO_PORT "vga_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "video_sd_mosi" L16;
IO_PORT "video_sd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "video_sd_cs" M15;
IO_PORT "video_sd_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "video_sd_clk" M16;
IO_PORT "video_sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[12]" U17;
IO_PORT "sdram_addr[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[11]" P15;
IO_PORT "sdram_addr[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[10]" AA16;
IO_PORT "sdram_addr[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[9]" W17;
IO_PORT "sdram_addr[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[8]" P17;
IO_PORT "sdram_addr[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[7]" V17;
IO_PORT "sdram_addr[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[6]" N17;
IO_PORT "sdram_addr[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[5]" Y17;
IO_PORT "sdram_addr[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[4]" R14;
IO_PORT "sdram_addr[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[3]" AB15;
IO_PORT "sdram_addr[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[2]" W15;
IO_PORT "sdram_addr[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[1]" Y16;
IO_PORT "sdram_addr[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_addr[0]" N13;
IO_PORT "sdram_addr[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dqm[1]" P16;
IO_PORT "sdram_dqm[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dqm[0]" T20;
IO_PORT "sdram_dqm[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_ba[1]" N14;
IO_PORT "sdram_ba[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_ba[0]" AB16;
IO_PORT "sdram_ba[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_we_n" Y21;
IO_PORT "sdram_we_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_cas_n" P14;
IO_PORT "sdram_cas_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_ras_n" AB17;
IO_PORT "sdram_ras_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_cs_n" N15;
IO_PORT "sdram_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_cke" R16;
IO_PORT "sdram_cke" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_clk" U18;
IO_PORT "sdram_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sccb_scl" H13;
IO_PORT "sccb_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ov5640_pwdn" G17;
IO_PORT "ov5640_pwdn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ov5640_rst_n" H22;
IO_PORT "ov5640_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart1_tx_o" H20;
IO_PORT "uart1_tx_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pps_led" U22;
IO_PORT "pps_led" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[15]" P20;
IO_PORT "sdram_dq[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[14]" AB20;
IO_PORT "sdram_dq[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[13]" T18;
IO_PORT "sdram_dq[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[12]" AA19;
IO_PORT "sdram_dq[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[11]" R18;
IO_PORT "sdram_dq[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[10]" AB18;
IO_PORT "sdram_dq[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[9]" R17;
IO_PORT "sdram_dq[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[8]" V18;
IO_PORT "sdram_dq[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[7]" Y22;
IO_PORT "sdram_dq[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[6]" W21;
IO_PORT "sdram_dq[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[5]" AB21;
IO_PORT "sdram_dq[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[4]" W22;
IO_PORT "sdram_dq[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[3]" AB22;
IO_PORT "sdram_dq[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[2]" W19;
IO_PORT "sdram_dq[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[1]" Y18;
IO_PORT "sdram_dq[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[0]" W20;
IO_PORT "sdram_dq[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO34" T21;
IO_PORT "GPIO34" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO20" V22;
IO_PORT "GPIO20" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO19" G16;
IO_PORT "GPIO19" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO18" G15;
IO_PORT "GPIO18" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO13" G18;
IO_PORT "GPIO13" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO01" G17;
IO_PORT "GPIO01" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LJTAG_TCK" M21;
IO_PORT "LJTAG_TCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TDI" M20;
IO_PORT "LJTAG_TDI" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TDO" N22;
IO_PORT "LJTAG_TDO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LJTAG_TMS" M22;
IO_PORT "LJTAG_TMS" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "video_sd_miso" K16;
IO_PORT "video_sd_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_pclk" G18;
IO_PORT "ov5640_pclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "key_game[2]" U6;
IO_PORT "key_game[2]" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=1.5;
IO_LOC "key_game[1]" V5;
IO_PORT "key_game[1]" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=1.5;
IO_LOC "key_game[0]" AA6;
IO_PORT "key_game[0]" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=1.5;
IO_LOC "uart1_rx_i" K21;
IO_PORT "uart1_rx_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TRST" N20;
IO_PORT "LJTAG_TRST" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RSTN" Y6;
IO_PORT "RSTN" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=1.5;
IO_LOC "CLK50M" R4;
IO_PORT "CLK50M" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=1.5;
IO_LOC "sccb_sda" G13;
IO_PORT "sccb_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ov5640_vsync" J21;
IO_PORT "ov5640_vsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_data[6]" G15;
IO_PORT "ov5640_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_data[5]" K21;
IO_PORT "ov5640_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_data[1]" J22;
IO_PORT "ov5640_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_data[7]" G20;
IO_PORT "ov5640_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_data[0]" J19;
IO_PORT "ov5640_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_data[4]" G16;
IO_PORT "ov5640_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_data[3]" K22;
IO_PORT "ov5640_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_data[2]" H19;
IO_PORT "ov5640_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ov5640_href" J20;
IO_PORT "ov5640_href" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;



IO_LOC "sd_mosi" L16;
IO_PORT "sd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd_cs_n" M15;
IO_PORT "sd_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd_clk" M16;
IO_PORT "sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd_miso" K16;
IO_PORT "sd_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
